body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
    overflow: hidden;
}

body:not(nav) {
    background: rgb(27, 35, 42);
}

a:link,
a:visited {
    color: #999999;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.homebox {
    width: 1920px;
    height: 968px;
    position: relative;
    margin: auto;
}

.homebox nav {
    width: 100%;
    height: 90px;
    background: rgb(23, 26, 33);
    position: absolute;
    border-bottom: 1px solid #ffffff;
    z-index: 1000;
}

.homebox nav ul {
    width: 1030px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.homebox nav ul li {
    float: left;
    margin-right: 19%;
}

.homebox nav ul .left a {
    display: inline-block;
    height: 90px;
    margin: 30px auto;
    position: relative;
}

.homebox nav ul .left a img {
    vertical-align: middle;
}

/*把此元素放于父元素的中部*/
.homebox nav ul .left a span {
    margin: 0 5px;
    font-size: large;
}

.homebox nav ul .left:hover aside {
    display: block;
}

.logo {
    margin-top: 20px;
    float: left;
}

.video {
    width: 1920px;
    height: 100%;
}

.content {
    position: absolute;
    top: 200px;
    left: 600px;
}

.content p {
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 26px;
}

.content p:nth-child(3),
.content p:nth-last-child(1) {
    color: #999999;
    font-size: 18px;
}

.content p:nth-child(4) {
    text-indent: 12px;
}

.content .anzhuang {
    width: 280px;
    height: 43px;
    background-image: linear-gradient(to right, rgb(6, 190, 255), rgb(41, 119, 255));
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin-left: 16px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 26px;
}

.content .anzhuang:hover {
    background: rgb(6, 190, 255);
}

.content .anzhuang strong {
    margin-left: 10px;
}

.content img {
    cursor: pointer;
}

.return {
    position: absolute;
    top: 700px;
    left: 950px;
    color: white;
    font-size: 22px;
}